.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ks{
  background: url('./images/ks.png') content-box;
  margin: 0 auto;
}

.flex-container {
  margin: 0 15px;
}
.flex-container .inline {
  width: 80px!important;
  margin: 9px 9px 9px 0;
}
.flex-container .small {
  height: 20px!important;
  line-height: 20px!important;
}
.sub-title {
  font-size: 14px;
  padding: 30px 0 18px 0;
}

.lizhanshu{
  background-image: url(./images/bg4.png);
  height: 93vh;
  width: 100vw;
  background-size:cover;
}

.placeholder {
  color: #125dfa;
  text-align: center;
  height: 130px;
  line-height: 30px;
}
.onecardImg{
  background: url('./images/yika.png');
  position: fixed;
  top: 0;
  height:93vh;
  width:100vw;
  background-size:cover;
}
.onecardjihuo{
  height: 13vh;
  width: 36vw;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 18vw;
  position: relative;
  top:15vh;
  left: 10vw;
  opacity: 0.8;
}
.onecardchongzhi{
  height: 13vh;
  width: 36vw;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 18vw;
  position: relative;
  top:20vh;
  left: 10vw;
  opacity: 0.8;
}
.onecardguashi{
  height: 13vh;
  opacity: 0.8;
  width: 36vw;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 18vw;
  position: relative;
  top:25vh;
  left: 10vw;
}
.jihuoword{
  font-size: 18px;
  color: black;
  position: absolute;
  top:5vh;
  left: 5vw;
}
.jihuoImg{
  background: url('./images/onecardxiangqing.png');
  height:93vh;
  width:100vw;
  background-size:cover;
}
.jihuoBox{
  height: 87vh;
  width: 85vw;
  background-color: rgb(213, 204, 204);
  position: relative;
  opacity: 0.8;
  top:4vh;
  left: 7vw;
}
.orgBox{
  height: 40vh;
  width: 100vw;
  background-color: white;
  margin-top: -2.4vh;
}
.ten{
  height: 6vh;
  background-color: white;
  font-size: 16px;
  line-height: 6vh;
  padding-left: 3vw;
  margin-bottom: 0vh;
}
.sort{
  height: 7vh;
  background-color: white;
  font-size: 16px;
  line-height: 7vh;
  padding-left: 3vw;
  margin-bottom: 0vh;
  margin-top: 0vh;
}
.sortlist1{
  padding-left:20px;
  border-bottom:1px solid grey;
  height:9vh;
  border-top:1px solid grey;
}
.sortlist2{
  padding-left:20px;
  border-bottom:1px solid grey;
  height:9vh;
}
.sortWord{
  margin-left: 9vw;
  font-size: 18px;
}
.schoolBox1{
  height: 22vh;
  width: 38vw;
  background-color: white;
  display: inline-block;
  margin-right: 9vw;
  border-radius: 5vh;
  margin-left: 5vw;
}

.schoolBox2{
  height: 25vh;
  width: 38vw;
  background-color: white;
  display: inline-block;
  border-radius: 5vh;
}
.schoolxueshenghui{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xueshenghui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qingxie{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qingxie.jpeg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.tuanwei{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/tuanwei.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.tushuguan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/tushuguan.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hongshizihui{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hongshizihui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yishutuan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yishutuan.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.guoqidui{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/guoqidui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.libindui{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/libindui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.guangbotai{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/guangbotai.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qinzhuzhongxin{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qinzhuzhongxin.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.gongyulou{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/gongyulou.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.taiquandao{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/taiquandao.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.pingpangqiu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/pingpangqiu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yangguangyundong{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yangguangyundong.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yumaoqiu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yumaoqiu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zixingche{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zixingche.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.piaoyiban{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/piaoyiban.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.yanyang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yanyang.jfif');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.tianshi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/tianshiaixin.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yanjing{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yanjing.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qingchun{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qingchun.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.chunyu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hongshizihui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.ziqiang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/ziqiang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lvhang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/huanbao.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.aixin{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/aixin.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lvse{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/lvse.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhonghua{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/minsu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.dexinshe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/dexinshe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xiaofeiyang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/feiyang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xinzhishe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xinzhi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.faxueshe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/faxueshe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.kaoyan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/kaoyanjiuye.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.shizheng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shizheng.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.bian{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/bian.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yingyu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yyaihaozhe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.kuangye{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/kuangyeyy.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yueduzhe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yueduzhe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhixingshe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zhixingshe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lixiang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/lxdd.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.daxuesheng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/sibian.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.dec{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yyjlb.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.jingmao{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/jingmaoyy.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.daxueshengchuangye{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/chuangye.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.shengwu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/swahz.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhenzhi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zhenzhi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.pc{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shuma.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.diannao{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/diannao.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.eyu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/eyu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xiyushe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xiyushe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yitong{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yitong.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yinghuashe{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yinghua.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hongxuehui{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hongxue.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.jinglun{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/jinglun.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qianyuan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qianyuan.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zifeng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zifeng.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.chunqiu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/chunqiu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hanguo{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hanyu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.wuxian{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/wuxiandian.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.tianwen{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/tianwen.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qianrushi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qianrushi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.web{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/web.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.efeng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/Efeng.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.ruichi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/ruichi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.shiye{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yingxiang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xingkong{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xueshenghui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.moke{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/mooc.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yangguang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yghx.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhumeng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/youman.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.chuangyi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/youman.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.star{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xueshenghui.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lingtu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/lingtu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.jianmo{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shuxuejianmo.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yingxiang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yingxaingshiguan.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.caimo{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/caimohuihua.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.dianping{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/dianshang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.tea{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/chawenhua.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.guoji{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/gjxq.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.shiguang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/sgkj.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.sanda{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/sanda.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.aigu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/fzsj.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xiyu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xywz.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.taiji{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/taijiquan.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.jiaoyi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/jyw.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xkyy{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xkyy.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.moshu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/moshu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.peiyin{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/peiyin.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hands{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/mofang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hanmo{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shufamo.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.chenguang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/chenguang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xiang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/xiangqi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.xishan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/wenhua.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hongfanhjs{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/gonglve2.png');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hanyun{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hanyu.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.ruiyi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/ruichi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.mengzhiyi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/Efeng.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhongmi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zhenzhi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.haiyun{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/huayun.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zhiyi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zhiyi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.mohuai{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/mohuai.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hulu{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/hulusi.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.hanbo{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shuhua.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.dianzi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/dzjj.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.diy{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/diy.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qixian{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qixian.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.yinxiang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/yinxiang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.zailushang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/zls.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.shier{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shierye.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.linchi{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shushe.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.ziyou{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/bbsy.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lvyou{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/lvyou.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.wenming{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/wenming.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.dashou{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/dslxs.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.disheng{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/disheng.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.shougong{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/shougong.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.liyuan{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/liyuanchun.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.lvtaiyang{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/lvtaiyang.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.qiaopai{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/qiaopai.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}
.fumei{
  height: 17vh;
  width: 38vw;
  overflow: hidden;
  background: url('./images/fumei.jpg');
  background-size: 38vw 17vh ;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.schoolbox1{
  width: 96vw;
  height: 6vh;
  margin-left: 2vw;
  margin-top: 4vh;
  background-color: #37376F;
}
.schoolbox2{
  width: 96vw;
  height: 6vh;
  margin-left: 2vw;
  margin-top: 2vh;
  background-color: #37376F;
}
.jianjieword{
  font-size: 17px;
  color: black;
  position: absolute;
  left: 3vw;
  right: 3vw;
  text-indent:2em;
  text-align: left;
  line-height: 4.1vh;
  top:-1vh;
}
.jianjieImg{
  height:auto;
  width:90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background-size:cover;
}
.jianjieImg2{
  height:auto;
  width:100vw;
  background-size:cover;
}
.jianjieBox{
  height: 87vh;
  width: 85vw;
  background-color: rgb(213, 204, 204);
  position: relative;
  opacity: 0.8;
  top:4vh;
  left: 7vw;
}
.lishiBox{
  height: 87vh;
  width: 85vw;
  position: relative;
  opacity: 0.8;
  top:4vh;
  left: 7vw;
}

.studyImg{
  background: url('./images/study.png');
  height:93vh;
  width:100vw;
  background-size:cover;
}
.cepingword{
  font-size: 4vw;
  color: black;
  position: absolute;
  left: 3vw;
  right: 3vw;
  text-indent:2em;
  text-align: left;
  line-height: 3.7vh;
  top:-2vh;
}
.cepingImg{
  height:auto;
  margin-top: 7vh;
  width:100vw;
  background-size:cover;
}
.cepingBox{
  height: auto;
  width: 85vw;
  position: relative;
  opacity: 0.8;
  top:4vh;
  left: 7vw;
}
.zhuxuejinImg{
  height:auto;
  margin-top: 7vh;
  width:100vw;
  background-size:cover;
}
.zhuxuejinBox{
  height: 310vh;
  width: 85vw;
  position: relative;
  opacity: 0.8;
  top:4vh;
  left: 7vw;
}

.alumnus {
  text-align: center;
  height: 200px;
  line-height: 30px;
  color: black;
}
.mates1{
  height: 27vh;
  width: 38vw;
  margin-left: 3vw;
  border-radius: 3vh;
}

.mates2{
  height: 27vh;
  width: 38vw;
  margin-top: 0vh;
  margin-left: 18vw;
  border-radius: 3vh;
}
.name1{
  position: relative;
  top: -22vh;
  left: 43vw;
  width: 5vw;
  height: auto;
}
.name2{
  position: relative;
  top: -22vh;
  left: 11vw;
  width: 5vw;
  height: auto;
}
.name3{
  position: relative;
  top: -24vh;
  left: 43vw;
  width: 5vw;
  height: auto;
}
.name4{
  position: relative;
  top: -20vh;
  left: 11vw;
  width: 5vw;
  height: auto;
}

.collegeImg{
  background: url('./images/college.png');
  height:93vh;
  width:100vw;
  background-size:cover;
}
.collegejieshao{
  height: 9vh;
  width: 50vw;
  background-color: rgb(121, 180, 209);
  position: relative;
  top:15vh;
  left: 25vw;
  opacity: 0.8;
  margin-bottom: 5vh;
}
.onecardchongzhi{
  height: 13vh;
  width: 36vw;
  background-color: rgba(187, 187, 187, 1);
  border-radius: 18vw;
  position: relative;
  top:20vh;
  left: 10vw;
  opacity: 0.7;
}
.collegeword{
  font-size: 18px;
  color: black;
  position: absolute;
  line-height: 4vh;
  left: 14vw;
}
.cword{
  font-size: 17px;
  color: black;
  position: absolute;
  left: 3vw;
  right: 3vw;
  text-indent:2em;
  text-align: left;
  line-height: 4vh;
  top:-1vh;
}

.teacherword{
  font-size: 17px;
  color: black;
  position: absolute;
  opacity: 0.8;
  text-align: left;
  line-height: 4.1vh;
  top:-1vh;
  width: 100vw;
}
.teacherImg{
  background: url('./images/jianjie.png');
  height:93vh;
  width:100vw;
  background-size:cover;
}
.communicateImg{
  background: url('./images/3-1dxq.jpg');
  height:93vh;
  width:100vw;
  background-size:cover;
}

#qin_fanhui{
  display: inline;
  position: absolute;
  top:3vw;
  left:3vw;
  background-color: rgba(0,0,0,0);
}
#qin_MapSearch{
  display: inline;
  position: absolute;
  top:40.5vw;
  left:75vw;
  background-color: rgba(0,0,0,0);
}
.qin_back{
  width: 100%;
  height: 40vh;
  background:url('http://img5.imgtn.bdimg.com/it/u=3831228085,2977293884&fm=26&gp=0.jpg') ;
  background-size: cover;  
}
.qin_back input{
  width: 60%;
  height: 10vw;
  text-decoration: none;
  border: none;
  border-radius: 3vw;
  margin-top:25vw;
  margin-left:23vw;
}
.qin_back input:focus{
  outline: none;
}
.am-tabs-tab-bar-wrap {
    margin: 0;
}
.am-tabs-default-bar-underline {
    border:none; 
}
.am-tabs-default-bar-tab{
  border-left:0.2vw rgb(146, 146, 146) solid;
  border-right:0.2vw rgb(146, 146, 146) solid;
}
.am-tabs-default-bar-tab-active {
  color: rgb(37, 74, 192);
}

.forgetPwd{
  color:blue;
  margin-left: 3vw;
}
.zhuce{
  color:blue;
  margin-left: 23vw;
}