<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%for(var i = 0;i<learnList.length;i++){%>
        <li>
            <%=learnList[i]["title"]%>
            <a href = "/learn/deleteLearn?time=<%=learnList[i]["time"]%>&name=<%=learnList[i]["name"]%>">删除</a>
        </li>
    <%}%>
</body>
</html>
